apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
type: Opaque
stringData:
  ACME_EMAIL: you@example.com
  CLOUDFLARE_API_TOKEN: replace-me
  GRAFANA_ADMIN_PASSWORD: replace-me
  PIHOLE_WEB_PASSWORD: replace-me
  TECHNITIUM_ADMIN_PASSWORD: replace-me
  TECHNITIUM_API_TOKEN: replace-me
  PAPERLESS_SECRET_KEY: replace-me
  AUTHENTIK_SECRET_KEY: replace-me
  AUTHENTIK_BOOTSTRAP_PASSWORD: replace-me
  AUTHENTIK_BOOTSTRAP_TOKEN: replace-me
  AUTHENTIK_POSTGRES_PASSWORD: replace-me
  VAULTWARDEN_ADMIN_TOKEN: replace-me
  ROMM_DB_PASSWORD: replace-me
  ROMM_DB_ROOT_PASSWORD: replace-me
  ROMM_AUTH_SECRET_KEY: replace-me
  SCREENSCRAPER_USER: replace-me
  SCREENSCRAPER_PASSWORD: replace-me
  RETROACHIEVEMENTS_API_KEY: replace-me
  STEAMGRIDDB_API_KEY: replace-me
  RESTIC_PASSWORD: replace-me
